<!--<p>add-animal works!</p>-->
<form #updateAnimalInstance="ngForm" (ngSubmit)="updateAnimal(updateAnimalInstance.value)">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Name" ngModel>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Species</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Species" ngModel>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Breed</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Breed" ngModel>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Age</label>
    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Age" ngModel>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Size</label>
    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Size" ngModel>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Temperament</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Temperament" ngModel>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">SpecialNeeds</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="SpecialNeeds" ngModel>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Description</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Description" ngModel>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">AdoptionStatus</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="AdoptionStatus" ngModel>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">PhotoUrl</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="PhotoUrl" ngModel>
  </div>



  <button type="submit" class="btn btn-primary">Submit</button>
</form>
